{% for event in site.data.event-calendar.events %}
<div class="card mb-3">
  <h2 class="card-header">{{ event.date }}</h2>
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ event.title}}</h5>
        <p class="card-text">{{ event.start}} - {{ event.end }}</p>
        <p class="card-text">{{ event.location }}</p>
        <p class="card-text">{{ event.description }}</p>
        <p class="card-text"><small class="text-muted">{{ event.community }}</small></p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="/assets/img/events/{{ event.image }}.webp" class="img-fluid rounded-end" alt="{{ event.title }}">
    </div>
  </div>
</div>
{% endfor %}
