<footer class="footer mt-auto py-3 bg-dark text-light text-center">
  <div class="container">
    <h2 class="text-center py-5">CONTACT INFORMATION</h1>
    <div class="row g-5 pb-5">
      <div class="col-md-6 p-5">
        <img src="/assets/img/dci.svg" class="img-fluid" alt="Department of Chahta Immi">
      </div>
      <div class="col-md-6 h4 text-start">
        <p>SPECIAL PROJECTS/MEDIA PROGRAM<br>DEPARTMENT OF CHAHTA IMMI</p>
        <p>EDDIE JOHNSON</p>
        <p>Special Projects / Media Coordinator<br>
          PHONE: (601)663-7735<br>
          EMAIL: <a href="mailto:eddie.johnson@choctaw.org">eddie.johnson@choctaw.org</a></p>
        <p>SEQUITA PHILLIPS<br>
          Electronic Records Specialist<br>
          PHONE: (601)650-7416<br>
          EMAIL: <a href="mailto:sequita.phillips@choctaw.org">sequita.phillips@choctaw.org</a></p>
        <p>TY ISAAC<br>
          Multimedia Production Specialist<br>
          PHONE: (601)650-1608<br>
          EMAIL: <a href="mailto:ty.isaac@choctaw.org">ty.isaac@choctaw.org</a></p>
        <p>MISSISSIPPI BAND OF CHOCTAW INDIANS<br>P.O.BOX 6010<br>CHOCTAW, MS 39350</p>
      </div>
    </div>
    <p>Copyright © {{ "now" | date: "%Y" }} · All Rights Reserved · <a href="https://www.choctaw.org/culture/dci.html" target="_blank">Department of Chahta Immi</a></p>
  </div>
</footer>
  