// {% increment my_int %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 image-gallery">
  {% for card in site.data.image-gallery.cards %}
  <div class="col">
    <img src="/assets/img/gallery/{{ card.image }}.webp" loading="lazy" class="card-img-top" alt="{{ image.summary }}" data-bs-toggle="modal" data-bs-target="#modal{{ card.number }}">
    <div class="card-body">
      <h5 class="card-text">{{ card.summary }}</h5>
    </div>
  </div>
  <div class="modal fade" id="modal{{ card.number }}" tabindex="-1" aria-labelledby="modal{{ card.number }}Label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <img src="/assets/img/gallery/{{ card.image }}.webp" loading="lazy" class="img-fluid" alt="{{ card.summary }}">
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-10">{{ card.summary }}. Courtesy of {{ card.courtesy }}</div>
            <div class="col-2">{% increment my_int %} / {{ site.data.image-gallery.cards.size }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
