{% assign my_int = 0 %}
<div class="row row-cols-1 row-cols-lg-2 g-4">
  {% for elder in site.data.meet-our-elders.elders %}
  {% assign my_int = my_int | plus: 1 %}
  <div class="col">
    <div class="card">
      <img src="/assets/img/elders/{{ elder.image }}.webp" class="card-img-top" alt="{{ elder.name }}">
      <div class="card-footer">
        <div class="accordion accordion-flush" id="accordion{{ my_int }}">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ my_int }}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ my_int }}" aria-expanded="true" aria-controls="collapse{{ my_int }}">
                <h4>{{ elder.name }} {% if elder.years %}({{ elder.years }}){% endif %}</h4>
              </button>
            </h2>
            <div id="collapse{{ my_int }}" class="accordion-collapse collapse" aria-labelledby="heading{{ my_int }}" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>{{ elder.description }}</p>
                <h5><strong><em>{{ elder.subtitle }}</em></strong></h5>
                <p>"{{ elder.quote }}"</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
