<nav class="navbar navbar-expand-xl navbar-dark bg-maroon" aria-label="Choctaw Cultural Legacy">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/img/Wheel_Logo.svg" alt="Logo" height="35" width="auto" class="d-inline-block align-text-top" style="padding-right:5px;">
      Choctaw Cultural Legacy
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if page.url == "/meet-our-elders/"%}active{% endif %}" href="/meet-our-elders/">Meet Our Elders</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle{% if page.url == "/video-features/" or page.url == "/audio-recordings/ or page.url == "/image-gallery/" %} active{% endif %}" href="#" data-bs-toggle="dropdown" aria-expanded="false">Multimedia</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/video-features/">Video Features</a></li>
            <li><a class="dropdown-item" href="/audio-recordings/">Audio Recordings</a></li>
            <li><a class="dropdown-item" href="/image-gallery/">Image Gallery</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Kids Resources</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Kids Videos</a></li>
            <li><a class="dropdown-item" href="#">Activities</a></li>
            <li><a class="dropdown-item" href="#">Stories</a></li>
            <li><a class="dropdown-item" href="#">Games <em>(coming soon)</em></a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Event Calendar</a>
        </li>
        <li class="nav-item" style="padding-right:10px">
          <a class="nav-link" href="#">External Links</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
