<nav class="navbar navbar-expand-xl navbar-dark bg-maroon" aria-label="Choctaw Cultural Legacy">
  <div class="container">
    <a class="navbar-brand" href="/">Choctaw Cultural Legacy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if page.url == "/our-elders/"%}active{% endif %}" href="/our-elders/">Our Elders</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Media</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/cultural-features/">Video Features</a></li>
            <li><a class="dropdown-item" href="#">Audio Recordings</a></li>
            <li><a class="dropdown-item" href="/image-gallery/">Image Gallery</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Kids</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Kids Videos</a></li>
            <li><a class="dropdown-item" href="#">Activities</a></li>
            <li><a class="dropdown-item" href="#">Stories</a></li>
            <li><a class="dropdown-item" href="#">Games <em>(coming soon)</em></a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Links</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
