---
---

@import "mixins/banner";
@include bsBanner("");


// scss-docs-start import-stack
// Configuration
@import "functions";
@import "variables";
@import "maps";
@import "mixins";
@import "utilities";

// Layout & components
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "containers";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "nav";
@import "navbar";
@import "card";
@import "accordion";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "alert";
@import "progress";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "offcanvas";
@import "placeholders";

// Helpers
@import "helpers";

// Utilities
@import "utilities/api";
// scss-docs-end import-stack

.hayate {
    font-family: hayate, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #590D13;
    text-shadow: 3px 3px 6px #fff;
}

body {
    background-color: #E8CAB5;
}

.bg-maroon {
    background-color: #590D13;
}

.bg-jumbotron {
    background-image: url("/assets/img/DRC_Marker.webp");
    background-size: cover;
    background-position: top center;
}

.front-links > .col > a > .card > .bi {
    font-size: 5rem;
 }
 
 .front-links > .col > a > .card {
     background: none;
     border: none;
     color: black;
     --bs-link-color: black;
 }

.image-gallery > .col > img {
    cursor: pointer;
    transition: 0.3s;
    :hover {
        opacity: 0.7;
    }
}

.modal-content {
    background: none;
    border: none;
}

.modal-footer {
    color: white;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.navbar-brand {
    font-size: 1.6rem;
}
