<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.title %}<title>Choctaw Cultural Legacy | {{ page.title }}</title>
    {% else %}<title>Choctaw Cultural Legacy</title>
    {% endif %}
    <link href="/assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/lli3ayu.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  </head>
  <body>
    {% include nav.html %}
    <div class="container-xl py-4">
      {{ content }}
    </div>
    {% include footer.html %}
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
